* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html * {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background-color: #f1f1f1 !important;
  transition: background-color 0.5s;
}
a {
  text-decoration: none !important;
}
p {
  font-family: Poppins;
  font-size: 14px;
  line-height: 1.4rem;
}
#loading {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  opacity: 1;
  background-color: #f9f9f9;
  z-index: 999;
  text-align: center;
}
#side-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  background: #ffffff !important;
  z-index: 111;
}
.nav-trigger {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 0;
  right: 0;
  border-radius: 0;
  background-color: #1b1b1b;
  z-index: 111;
  transition: all 400ms ease-in;
  user-select: none;
}
.is-active.nav-trigger {
  background: #dddddd;
}
.hamburger {
  position: relative;
  width: 25px;
  height: 25px;
  left: 20%;
  top: 20%;
  transition: transform 500ms ease-in-out;
}
.nav-trigger:active .hamburger {
  transition: transform 50ms;
  transform: scale(0.95);
}
.hamburger::before,
.hamburger::after,
.hamburger .icon {
  content: "";
  position: absolute;
  width: 22px;
  height: 2px;
  left: 2px;
  background: #ffffff;
  transform-origin: 100% 50%;
  transition: all 100ms ease-in-out;
}
.hamburger::before {
  top: 5px;
}
.hamburger .icon {
  width: 21px;
  top: 11px;
  transform-origin: 50% 50%;
}
.hamburger::after {
  top: 17px;
}
.is-active .hamburger::before,
.is-active .hamburger::after,
.is-active .hamburger .icon {
  background: #ffffff;
}
.is-active .hamburger::before {
  transform: translate3d(-4px, -1px, 0) rotateZ(-45deg);
}
.is-active .hamburger .icon {
  transform: rotateY(-90deg);
  transition: transform 100ms, background-color 400ms ease-in-out;
}
.is-active .hamburger::after {
  transform: translate3d(-4px, 2px, 0) rotateZ(45deg);
}
.main::before {
  display: block;
  content: "";
  width: 100%;
  height: 0;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0);
  opacity: 0;
  z-index: 3;
  pointer-events: none;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity 0.5s ease, height 1ms 0.5s ease;
  -moz-transition: opacity 0.5s ease, height 1ms 0.5s ease;
  -o-transition: opacity 0.5s ease, height 1ms 0.5s ease;
  transition: opacity 0.5s ease, height 1ms 0.5s ease;
}

.is-active.main::before {
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  height: 100%;
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  .nav-trigger {
    right: 0;
    top: 0;
  }
}

.back-btn {
  top: 10px;
  font-size: 21px !important;
}

.logo {
  position: absolute;
  top: 13px;
  left: 2%;
  font-family: "Poppins";
  font-size: 16px;
  line-height: 1;
  white-space: nowrap;
  color: #222222;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.7s;
  transition: 1s;
}
.logo:hover,
.logo:focus {
  text-decoration: none;
  color: #333333;
}

.visible-xs {
  display: none;
}
.text {
  top: 10px;
  font-size: 21px;
  left: 10px;
}
/* Navigation */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  background-color: #111;
  background-image: url(/img/bg-dark.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 15px 8px 8px 0px;
  text-decoration: none;
  font-size: 25px;
  color: #f5f5f5;
  display: block;
  text-align: center;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #666666;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 45px;
  /* margin-left: 50px; */
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
.section1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 250px;
  padding-top: 80px;
  width: 800px;
}
.logo-img {
  width: 75px;
}
h4 {
  font-family: "Poppins";
  font-size: 12px !important;
  font-weight: 600;
  color: #a1a1a1;
  letter-spacing: 3px;
  line-height: 1.4;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}
h1 {
  font-size: 44px;
  font-family: "Poppins";
  font-weight: 700;
  letter-spacing: 2px;
}
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 125px;
  padding-bottom: 25px;
}
.navigation_menu {
  display: block;
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 44px !important;
  letter-spacing: 2px;
  line-height: 1.2;
}
.reference {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
.content1 {
  width: 60%;
  height: 400px;
  color: white;
}
@media only screen and (max-width: 900px) {
  .desc {
    width: 80% !important;
  }
  .desc h3 {
    font-size: 26px !important;
  }
  .portfolio-grid {
    width: 80% !important;
  }
  .portfolio_section_box-1 {
    width: 320px !important;
    height: auto !important;
  }
}

@media only screen and (min-width: 767px) {
  .logo {
    font-size: 18px;
    transform: rotate(90deg);
    right: 5px;
    top: 50%;
  }
}
@media (max-width: 767px) {
  #side-menu {
    width: 100% !important;
    height: 40px !important;
    left: 0px;
  }
  .logo {
    font-size: 18px;
    /* top: 100px; */
    left: 40;
    display: none;
  }
  .visible-xs {
    display: block !important;
  }
  .content1 {
    width: 80%;
  }
  .desc {
    width: 90% !important;
  }
  h3 {
    font-size: 25px !important;
    text-align: left !important;
  }
  .portfolio-intro {
    padding: 40px;
  }
}
.desc {
  width: 50%;
  padding-top: 20px;
  padding-bottom: 15px;
}
h3 {
  font-family: "Playfair Display";
  color: #000;
  font-size: 36px;
  text-align: center;
}
.btn {
  font-family: "Playfair Display";
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  padding: 10px 16px;
  color: #ffffff;
  background: #111111;
  border: solid 1px;
  border-color: #111111;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 30px auto;
}
.btn:hover {
  color: #000;
  background: #f1f1f1;
  border: solid 1px;
  border-color: #111111;
}
.portfolio-intro {
  height: 150px;
  padding-top: 35px;
  text-align: center;
}
.portfolio_section {
  display: flex;
  justify-content: center;
  padding-bottom: 150px;
}
.portfolio-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 1100px;
}
[class^="portfolio_section_box-"] {
  display: flex;
  width: 360px;
  height: 240px;
  justify-content: center;
  align-items: center;
}
.portfolio-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.reference-heading {
  font-family: "Playfair Display", serif;
  font-size: 38px !important;
  line-height: 65px;
  color: #222;
}
.line {
  color: #cbcbcb;
  width: 75px;
  border: solid 0.5px;
  margin-top: 10px;
}
.small-txt {
  font-size: 13px !important;
  color: #222;
}
[class^="portfolio_section_box-"] > img {
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  opacity: 0.7;
}

[class^="portfolio_section_box-"] > [class^="box-content-"] {
  display: none;
}

.items {
  background-color: #000;
  background-size: cover;
}

.portfolio_section_box-1 {
  position: relative;
  /* opacity: 0.7; */
  /* background-image: url(/img/Taxi97-ads.png); */
}
[class^="box-content-"] {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.portfolio_section_box-1 > img:hover {
  opacity: 0.2;
}

.portfolio_section_box-1:hover > [class^="box-content-"] {
  display: block;
  color: white !important;
  opacity: 1 !important;
  text-align: center;
  font-size: 16px;
}

[class^="box-content-"]:hover ~ .portfolio_section_box-1 {
  opacity: 0.2;
}
.portfolio-item {
  font-family: poppins;
  font-weight: 600;
  opacity: 1 !important;
  color: #fff;
  background-color: #000;
}
.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 100px 0 10px 0;
  overflow: hidden;
  background: #111111;
  height: 350px;
  justify-content: center;
  align-items: center;
}
.txt-center {
  color: white;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 32px;
  height: 200px;
  text-align: center;
}
h6 {
  font-size: 18px;
  line-height: 44px;
  font-weight: 400;
}
h6:hover {
  color: red;
}
.socialmedia {
  color: white;
  text-align: center;
}
li {
  display: inline-block;
  list-style-type: none;
  padding: 20px;
}

/*------------ About page styling -------------*/
/* .wrapper {
  background-image: url(/img/about-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
} */

.about-section {
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  padding-top: 150px;
}
.about-area {
  min-height: 80vh;
  padding: 2rem;
}

.about-area h6 {
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 400;
  color: #a1a1a1;
  letter-spacing: 1px;
  line-height: 1.4;
  margin: px 0 30px 0;
}
.about-area h1 {
  font-family: "Playfair Display";
  font-weight: 700;
  text-transform: uppercase;
  line-height: 3.5rem;
}
.about-area h4 {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  color: #111111;
  line-height: 1.4;
}
.about-area p {
  color: #888888;
  font-size: 13px;
  line-height: 1.8;
  font-family: Poppins;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.4px;
}
.detail-section {
  padding-top: 40px;
}
.detail-section h1 {
  font-size: 28px;
  text-transform: none;
  font-weight: 400;
  letter-spacing: 0;
}
.detail-section h3 {
  font-size: 16px !important;
  text-align: left;
}

.detail-section li {
  padding: 10px;
}

progress[value] {
  -webkit-appearance: none;
  appearance: none;
  height: 8px;
}

progress[value]::-webkit-progress-bar {
  background-color: #e7e7e7;
  border-radius: 8px;
}

progress[value]::-webkit-progress-value {
  background-color: rgb(190, 190, 190);
  border-radius: 80px;
  background-size: 20px 15px, 100% 100%, 100% 100%;
}

/* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
  .about-section {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
  .about-section {
    grid-template-columns: repeat(2, 1fr);
  }
}
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

/* Contact page */
.kontakt {
  display: block;
}
.contact-section {
  display: flex;
  min-height: 80vh;
  justify-content: center;
}
.contact-section-area {
  width: 70%;
  padding-top: 125px;
}
.contact-section-heading h3 {
  text-align: left;
}
.contact-section-form {
  width: 50%;
}
.form-message {
  width: 100%;
  height: 100px;
  font-family: Poppins;
}
.form-group {
  display: inline-block;
  width: 49.5%;
  padding-top: 30px;
  font-family: Poppins;
}
.label {
  display: block;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  color: #333333;
  text-align: left;
  border-radius: 0px;
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  border: 0px;
  border-radius: 0px;
  margin-top: 10px;
  background: transparent;
  margin-bottom: 40px;
  border-bottom: 1px solid #999999;
  -webkit-box-shadow: inset 0 0px 0px rgb(0 0 0 / 0%);
  box-shadow: inset 0 0px 0px rgb(0 0 0 / 0%);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

.help-block {
  font-family: Poppins;
  font-weight: 300;
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}
